@use "src/assets/scss/fonts";
@use "src/assets/scss/media-queries";

$background-color: #fafafa;
$content-background-color: #040d21;
$content-text-color: #ccd2e2;
$text-color: #212529;
$text-color-highlight: #df6e42;

$transition-duration: 300ms;
$transition-timing: ease;

$hero-background: #008b8b;
$hero-transition-delay: 100ms;
$hero-rotation: 5deg;

@mixin fluid-spacing($type, $positions: (top, right, bottom, left), $factor: 1) {
    @if $positions == all {
        $positions: (top, right, bottom, left);
    }

    @if $positions == horizontal {
        $positions: (right, left);
    }

    @if $positions == vertical {
        $positions: (top, bottom);
    }

    @each $position in $positions {
        #{$type}-#{$position}: #{2rem * $factor};
    }

    @include media-queries.for-phone-landscape-up {
        @each $position in $positions {
            #{$type}-#{$position}: clamp((4rem * #{$factor}), (10vw * #{$factor}), (7rem * #{$factor}));
        }
    }
}

@mixin fluid-margin($positions: (top, right, bottom, left), $factor: 1) {
    @include fluid-spacing(margin, $positions, $factor);
}

@mixin fluid-padding($positions: (top, right, bottom, left), $factor: 1) {
    @include fluid-spacing(padding, $positions, $factor);
}
