@use "src/assets/scss/media-queries";

$background-color: white;
$text-color: #212529;
$text-color-highlight: #df6e42;

$transition-duration: 300ms;
$transition-timing: ease;

$hero-background: #008b8b;
$hero-transition-delay: 100ms;
$hero-rotation: 5deg;

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: sans-serif;
    font-size: 1rem;
    color: $text-color;
}

h1, h2, h3 {
    font-weight: 500;
}

a, a:hover {
    color: $text-color;
    text-decoration: none;
}

@mixin fluid-padding {
    padding: 0 2rem;

    @include media-queries.for-phone-landscape-down {
        padding: 0 1rem;
    }
}
