@font-face {
    font-family: Architects-Daughter;
    src: url(/src/assets/fonts/ArchitectsDaughter-Regular.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(/src/assets/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: Poppins-light;
    src: url(/src/assets/fonts/Poppins-Light.ttf);
}

.architect {
    font-family: Architects-Daughter, cursive;
    @extend .text-shadow;
}

.poppins {
    font-family: Poppins, sans-serif;
}

.poppins-light {
    font-family: Poppins-light, sans-serif;
}

.text-shadow {
    text-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.4);
}

@mixin fluid-font($min, $max, $ideal) {
    font-size: clamp(#{$min}, #{$ideal}, #{$max});
    line-height: calc(clamp(#{$min}, #{$ideal}, #{$max}) * 1.5);
}
