@use "src/assets/scss/app";

.hero {
    align-items: center;
    background-image: linear-gradient(100deg, #180218, #4f084e 45%, #0a0a0a 45%, #11859c 46.5%);
    background-repeat: no-repeat;
    background-size: 200% 100%;
    display: flex;
    justify-content: center;
    min-height: clamp(150px, 33vw, 45vh);
    overflow: hidden;
    position: relative;
    transition: min-height app.$transition-duration cubic-bezier(0.65, 0, 0.75, 1) app.$hero-transition-delay,
    background-position (app.$transition-duration * 2) cubic-bezier(0.65, 0, 0.75, 1);

    &::before, &::after {
        top: 100%;
        content: "";
        height: 15vw;
        position: absolute;
        right: 0;
        transform-origin: top right;
        transition: transform app.$transition-duration app.$transition-timing;
        width: 150%;
    }

    &::before {
        background-color: rgba(0, 0, 0, 0.2);
    }

    &::after {
        background-color: app.$background-color;
    }

    &:not(.home) {
        background-position: 85% 0;

        &::before {
            transform: rotate(app.$hero-rotation * 1.4);
        }

        &::after {
            transform: rotate(app.$hero-rotation);
        }
    }

    &.home {
        min-height: calc(100vh - clamp(2.5rem, 8vw, 4.5rem));
    }
}
